@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  color: #ffff;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.logo {
  margin-left: 50px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montsserat", sans-serif;
  background: #23232e;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-right: 50px;
  cursor: pointer;
}

button {
  margin: 5px;
  border: none;
  display: inline-block;
  letter-spacing: 4px;
  font-family: "Montsserat", sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

.button-canva {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 1000px;;
}

.configBtn {
  border-radius: 30px;
  background-color: #434385;
  color: #ffff;
  padding: 12px 30px;
  margin: 15px;
  font-size: 16px;
  position: relative;
  top: -240px;
}

.configBtn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#calculate-btn {
  border-radius: 30px;
  background-color: #434385;
  color: #ffff;
  padding: 12px 30px;
  font-size: 16px;
}

#calculate-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#reset-btn {
  border-radius: 30px;
  background-color: #19191d;
  color: #ffff;
  padding: 8px 20px;
}
#reset-btn:hover {
  background-color: red;
  transform: scale(1.2);
  cursor: pointer;
}

#wall-btn {
  border-radius: 30px;
  background-color: #19191d;
  color: #ffff;
  padding: 8px 21px;
}

#wall-btn:hover {
  background-color: rgb(0, 163, 0);
  transform: scale(1.3);
  cursor: pointer;
}

#wall-btn.pressed {
  background-color: rgb(0, 255, 0);
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 20%;
  width: 100%;
}

.container {
  background-color: aliceblue;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculate {
  position: absolute;
  top: 5px;
  left: auto;
}

#calculate:active {
  background-color: rgb(0, 255, 0);
}
*/

/* .wall {
    position: absolute;
    top: 30px;
    left: auto;
} */

#wall-btn.pressed {
  background-color: rgb(0, 255, 0);
}

/* quadradinho 20x20 */
/* 20 linhas por 50 colunas */
.canva {
  background-color: aliceblue;
  height: 400px;
  width: 1000px;
  position: absolute;
}

.square {
  position: absolute;
  background-color: white;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  /* border-radius: 15%;
  box-shadow: inset -1px   0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black,
    inset 0 1px 0 black;
  animation-fill-mode: forwards; */
}

.square:hover {
  background-color: rgb(117, 113, 113);
}

.square.selected {
  background-color: rgb(0, 255, 0) !important;
}

.square.wall {
  background-color: rgb(37, 31, 31) !important;
}

@keyframes pathFound {
  0% {
    background-color: rgb(9, 255, 234);
    transform: translateY(0);
  }
  50% {
    background-color: yellow;
    transform: translateY(-4px);
    transform: translateX(-4px);
  }
  100% {
    background-color: yellow;
    transform: translateY(0);
  }
}

.square.path {
  background-color: rgb(9, 255, 234);
  animation-name: pathFound !important;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes cellVisited {
  0% {
    transform: translateY(0);
  }
  50% {
    background-color: rgb(9, 87, 255);
    transform: translateY(-4px);
    transform: translateX(-4px);
  }
  100% {
    background-color: rgb(9, 255, 234);
    transform: translateY(0);
  }
}

.square.visited {
  animation-name: cellVisited;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.wall.wallSelected {
  background-color: red !important;
  color: white !important;
}
